<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <!--    <link th:href="@{/index.css}" rel="stylesheet">-->
</head>
<body class = "home">
<header th:replace="common/layout :: header"></header>
<br>
<div>
    <h3>My profile</h3>
    <br>
    <div class="">
        <img th:src="${user.imageURL}" alt="Image" style="width:200px">
        <!--        <h3>Service provider Information</h3>-->
        <h3 th:text="${user.firstName}+' '+${user.lastName}"></h3>

        <!--        <h5 th:text="${user}"></h5>-->
        <h4>Details</h4>
        <div th:if="${user.role.id} == 3">
            <h1>This is Service Provider</h1>
        </div>

        <p th:text="${user.username}"></p>
        <p th:text="${user.rate}"></p>

        <div th:if="${user.role.id} == 3">
            <p>The service provider should check the appointments</p>
            <a class="nav-link-signup" th:href="@{'/requests/' + ${user.id}}">check appointment</a>
        </div>

        <div th:if="${user.role.id} == 2">
            <p>This is customer should see book</p>
            <button type="submit">view my Request appointment</button>
        </div>
        <br>
        <!--        render provider's reviews        -->

        <div>
            <div th:each="review :${reviews}">
                <p th:text="${review.content}"></p>
                <p th:text="${review.stars}"></p>
            </div>
        </div>
        <!--        For All users edit and delete-->
        <p th:align="center">***************************************************</p>
        <form th:action="'/edit/'+${user.id}">
            <h3>Edit My account</h3>
            <br>
            <input type="submit" value="Edit" />
        </form>
        <form th:action="'/delete/'+${user.id}">

            <h3>delete My account</h3>
            <br>
            <input type="submit" value="delete" />
            </fieldset>
        </form>
    </div>
</div>

<footer th:replace="common/layout :: footer"></footer>
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>