<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/all.css" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <!--    <link th:href="@{/index.css}" rel="stylesheet">-->
</head>
<body class="provider-list">

<header th:replace="common/layout :: header"></header>

<div class="container mt-3 mb-4 ">
    <div class="mt-4 mt-lg-0 provider-list-container">
        <div class="row">
            <div class="col-md-12 p-3">
                <div class="user-dashboard-info-box table-responsive mb-0 bg-white p-4 shadow-sm">
                    <div class="container bootstrap snippets bootdey">
                        <div class="row">
                            <div class="post-list" th:each="user: ${Providers}">
                                <div class="row">
                                    <div class="col-sm-2 thumb text-center">
                                            <img th:src="${user.imageURL}" class="rounded-circle" style="width: 120px;" alt="Avatar" />
                                            <div class="fw-bold">Rate : <span th:text = "${user.rate}"></span></div>
                                    </div>
                                    <div class="col-sm-6 d-flex justify-content-center flex-column">
                                        <h4>
                                            <a hre="#" class="username" th:text="${user.firstName}+' '+${user.lastName}"></a>
                                            <label class="label label-info">#ServiceProvider</label>
                                        </h4>
                                        <h5>
                                            <i class="fa fa-envelope" aria-hidden="true"></i>
                                            <span  th:text="${user.email}"></span>
                                        </h5>

                                    </div>
                                    <div class="col-sm-2 d-flex justify-content-center align-items-center" sec:authorize="hasAuthority('CUSTOMER')">
                                        <a class="nav-link-signup" th:href="@{'/profile/' + ${user.id}}">
                                            <i class="fa fa-share"></i> Request</a>
                                        </a>
                                    </div>
                                </div>
                                <hr>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<footer th:replace="common/layout :: footer"> </footer>

<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>

