@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

:root{
    --bs-primary: #051367;
    --bs-secondary:#2D31FA ;
    --bs-third:#5D8BF4;
    --bs-fourth:#DFF6FF;
}
body{
    font-family: "Poppins" , sans-serif;
    padding: 0;
    margin: 0;

}
a{
    text-decoration: none;
}

/* ====== > Header < ======== */

header{
    background: #fff;
    height: 70px;
    -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}
.navbar-brand{
    color: var(--bs-third) !important;
}
.nav-link-login{
    background: var(--bs-third);
    padding: 6px 18px;
    color: #fff;
    transition: 0.3s ease-in;
    border: 1px solid var(--bs-third);
}

.nav-link-signup{
    background: #fff;
    padding: 6px 18px;
    color: var(--bs-third);
    border: 1px solid var(--bs-third);
    transition: 0.3s ease-in;
}
.nav-link-signup:hover{
    background:  var(--bs-third);
    color:#fff;
}
.nav-link-login:hover{
    background: #fff;
    color: var(--bs-third);
}

/* ====== > Main < ====== */
main{
    margin: 10px 0px 50px 0px;
}
.banner img{
    width: 100%;

}
.home .card {
    margin: 10px 10px ;
    padding: 5px 10px;
    background: #f7f7f7;
    width: 400px !important;

}
.home .card h4 a{
    font-size: 18px;
}
/* ===== > Sign-up page <===== */
.customer-sighnUp .card {
    background: var(--bs-fourth);
    margin: 15px 20px;
    min-width: 100px !important;
}
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
*:focus {
    outline: none;
}

.gray-body {
    margin: 0;
    padding: 0;
    background: #DDD;
    font-size: 16px;
    color: #222;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
#main-box {
    position: relative;
    margin: 5% auto;
    width: 800px;
    height: 400px;
    background: #FFF;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}
.login-page #main-box{
    height: 500px;
    background: var(--bs-fourth);
}
.signup-page #main-box{
    height: 850px;
    width: 800px;
    background: var(--bs-fourth);
}

.signup-sppage #main-box{
    height: 1050px;
    width: 800px;
    background: var(--bs-fourth);
}

.left {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 40px;
    width: 400px;
    height: 400px;
}


.or {
    position: absolute;
    top: 180px;
    left: 370px;
    width: 40px;
    height: 40px;
    background: #DDD;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    line-height: 40px;
    text-align: center;
}

.right {
    position: absolute;
    top: 0;
    right: 0;
    box-sizing: border-box;
    padding: 40px;
    width: 400px;
    height: 400px;
    background: url('https://goo.gl/YbktSj');
    background-size: cover;
    background-position: center;
    border-radius: 0 2px 2px 0;
}

.right .loginwith {
    display: block;
    margin-bottom: 40px;
    font-size: 28px;
    color: #FFF;
    text-align: center;
}

button.social-signin {
    margin-bottom: 20px;
    width: 220px;
    height: 36px;
    border: none;
    border-radius: 2px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    transition: 0.2s ease;
    cursor: pointer;
}

button.social-signin:hover,
button.social-signin:focus {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    transition: 0.2s ease;
}

button.social-signin:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    transition: 0.2s ease;
}

button.social-signin.facebook {
    background: #32508E;
}

button.social-signin.twitter {
    background: #55ACEE;
}

button.social-signin.google {
    background: #DD4B39;
}


/* ====== > Footer <======== */

footer{
    background: #f7f7f7;
    color: var(--bs-third) !important;
}

footer p , footer a{
    color: var(--bs-third) !important;
}
footer h6 {
    color: var(--bs-primary);
=======
min-height: 870px;

}

/* =======> Index Style <===== */

.header{
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
}

.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.header img {
    font-size: 25px;
    font-weight: bold;
}

.header a:hover {
    background-color: #ddd;
    color: black;
}

.header a.active {
    background-color: dodgerblue;
    color: white;
}
.header-right {
    float: right;
}

@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }

    .header-right {
        float: none;
    }
    /*=============================*/
    /*=============================*/
    .main{
        margin-left: 80px;
        margin-bottom: 50px;
        margin-top: 50px;
    }

    .home .row {
        overflow: hidden;
        background-color: #e9e9e9;
    }

    .home .row a {
        float: left;
        display: block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

    .home .row a:hover {
        background-color: #ddd;
        color: black;
    }

    .home .row a.active {
        background-color: #2196F3;
        color: white;
    }

    .home .row input[type=text] {
        float: right;
        padding: 6px;
        margin-top: 8px;
        margin-right: 16px;
        border: none;
        font-size: 17px;
    }

    @media screen and (max-width: 600px) {
        .home .row a, .topnav input[type=text] {
            float: none;
            display: block;
            text-align: left;
            width: 100%;
            margin: 0;
            padding: 14px;
        }

        .home .row input[type=text] {
            border: 1px solid #ccc;
        }

        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            transition: 0.3s;
            width: 40%;
        }

        .home .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        }

        .home .container {
            padding: 2px 16px;
        }

        .home .column {
            float: left;
            width: 25%;
            padding: 10px;
            height: 300px; /* Should be removed. Only for demonstration */
        }

        /* Clear floats after the columns */
        .home .row:after {
            content: "";
            display: table;
            clear: both;
        }


.home  .row input[type=text] {
    border: 1px solid #ccc;
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
  }

 .home  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
.home .container {
  padding: 2px 16px;
}
.home .column {
  float: left;
  width: 25%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.home .row:after {
  content: "";
  display: table;
  clear: both;
}}}

/*Admin*/

.wrapper {
    width: 100%; }

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: var(--bs-third);
    color: #fff;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    position: relative; }
#sidebar .h6 {
    color: #fff; }
#sidebar.active {
    margin-left: -250px; }
#sidebar.active .custom-menu {
    margin-right: -50px; }
#sidebar h1 {
    margin-bottom: 20px;
    font-weight: 700; }
#sidebar h1 .logo {
    color: #fff; }
#sidebar ul.components {
    padding: 0; }
#sidebar ul li {
    font-size: 16px; }
#sidebar ul li > ul {
    margin-left: 10px; }
#sidebar ul li > ul li {
    font-size: 14px; }
#sidebar ul li a {
    padding: 10px 0;
    display: block;
    color: rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
#sidebar ul li a:hover {
    color: #fff; }
#sidebar ul li.active > a {
    background: transparent;
    color: #fff; }
@media (max-width: 991.98px) {
    #sidebar {
        margin-left: -250px; }
    #sidebar.active {
        margin-left: 0; }
    #sidebar .custom-menu {
        margin-right: -50px !important;
        top: 10px !important; } }
#sidebar .custom-menu {
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 0;
    margin-right: -20px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
@media (prefers-reduced-motion: reduce) {
    #sidebar .custom-menu {
        -webkit-transition: none;
        -o-transition: none;
        transition: none; } }
#sidebar .custom-menu .btn {
    width: 40px;
    height: 40px;
    border-radius: 50%; }

#sidebar .custom-menu .btn.btn-primary:hover, #sidebar .custom-menu .btn.btn-primary:focus {
    background: var(--bs-third) !important;
    border-color: var(--bs-third) !important; }

a[data-toggle="collapse"] {
    position: relative; }


@media (max-width: 991.98px) {
    #sidebarCollapse span {
        display: none; } }

#content {
    width: 100%;
    padding: 0;
    min-height: 100vh;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }

.create-category-form{
    border: 1px solid #d7d7d7;
    padding: 10px;
}

.footer p {
    color: rgba(255, 255, 255, 0.5);
}

.service-provider-profile{
    border:1px solid #d7d7d7;
}

/* Adapts a floating label for use with a left-handed input group icon */
.form-floating > .bi-calendar-date + .datepicker_input + label {
    padding-left: 3.5rem;
    z-index: 3;
}
