@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

:root{
    --bs-primary: #051367;
    --bs-secondary:#2D31FA ;
    --bs-third:#5D8BF4;
    --bs-fourth:#DFF6FF;
}
body{
    font-family: "Poppins" , sans-serif;
    padding: 0;
    margin: 0;
}





/* ===== > Sign-up page <===== */
.customer-sighnUp .card {
    background: var(--bs-fourth);
    margin: 15px 20px;
    min-height: 870px;

}