<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <!--        Adding tabs for company and personality details -->
</div>
<div>
    <h1>My profile</h1>
    <div class="">
        <img th:src="${userAcc.imageURL}" alt="Image" style="width:200px">
        <!--        <h3>Service provider Name</h3>-->
        <h3 th:text="${userAcc.firstName}+' '+${userAcc.lastName}"></h3>
        <h5 th:text="${userAcc}"></h5>

        <!--        <p class="">Username</p>-->
        <p th:text="${userAcc.username}"></p>
        <div>
            <!--    Rendering the Calrnder -->
            <p> Here we will be Appointment </p>
            <button type="submit">Book appointment</button>

        </div>
        <!--                 Adding Rate stars     -->
        <div>
            <a href=""><button>Contact</button></a>
            <a href=""><button>Phone</button></a>
        </div>

        <section th:fragment="myProfile" class="myProfile">

            <form th:action="'/edit/'+${userAcc.id}">
                <h3>Edit My account</h3>
                <p name="body" th:text="' Username ' + ${userAcc.firstName}"></p>
                <br>
                <input type="submit" value="Edit" />
            </form>
            <form th:action="'/delete/'+${userAcc.id}">
                <h3>delete My account</h3>
                <br>
                <input type="submit" value="delete" />
            </form>
        </section>


    </div>
</div>


</body>
</html>