<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <!--    <link th:href="@{/index.css}" rel="stylesheet">-->
</head>
<body>

<div th:each="Provider : ${Providers}">
    <div th:text="${Provider.firstName}"></div>
</div>
<!--<header th:replace="common/layout :: header"></header>-->

<!--<div class="container mt-3 mb-4 ">-->
<!--    <div class="col-lg-9 mt-4 mt-lg-0">-->
<!--        <div class="row">-->
<!--            <div class="col-md-12 p-3">-->
<!--                <div class="user-dashboard-info-box table-responsive mb-0 bg-white p-4 shadow-sm">-->
<!--                    <table class="table manage-candidates-top mb-0">-->
<!--                        <thead>-->
<!--                        <tr>-->
<!--                            <th>Provider Name</th>-->
<!--                            <th class="action text-center">Request</th>-->
<!--                        </tr>-->
<!--                        </thead>-->
<!--                        <tbody>-->
<!--                        <tr class="candidates-list" th:each="user: ${Providers}">-->
<!--                            <td class="title">-->
<!--                                <div class="thumb">-->
<!--                                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" class="rounded-circle" style="width: 150px;"-->
<!--                                         alt="Avatar" />-->
<!--                                </div>-->
<!--                                <div class="candidate-list-details">-->
<!--                                    <div class="candidate-list-info">-->
<!--                                        <div class="candidate-list-title">-->
<!--                                            <h5 class="mb-0"><span th:text="${user.username}"></span></h5>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </td>-->
<!--                            <td class="text-center">-->
<!--                                <button class="btn-primary"><a th:href="@{'/profile/' + ${user.id}}" class="text-white">Request</a></button>-->
<!--                            </td>-->
<!--                        </tr>-->
<!--                        </tbody>-->
<!--                    </table>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--<footer th:replace="common/layout :: footer"> </footer>-->

<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>