<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Response</title>
</head>
<body>
    <div>
        <div>
            <p th:text="${request.details}" class="details"></p>
<!--            <p th:text="${request.date}"></p>-->
            <p th:text="${request.location}" class="location"></p>
        </div>
        <div>
            <form th:action="@{/reject-request/{id}(id=${request.id})}" method="POST">
            <button type="submit">
                Reject
            </button>
            </form>
            <form th:action="@{/accept-request/{id}(id=${request.id})}" method="POST">
            <button type="submit">
                Accept
            </button>
            </form>

<!--            <a th:href="@{/reject-request/{id}(id=${request.id})}" method="POST">Reject</a>-->
<!--            <a th:href="@{/accept-request/{id}(id=${request.id})}" method="POST">Accept</a>-->
        </div>
    </div>
</body>
</html>