<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Response</title>
</head>
<body>
<div>
    <div>
        <p th:text="${request.details}" class="details"></p>
        <p th:text="${request.date}" class="date"></p>
        <p th:text="${request.time}" class="time"></p>
        <p th:text="${request.location}" class="location"></p>
    </div>
    <div>
             <span th:if="!${request.accepted} and !${request.isDoneRequest()}">
                 <p>good job</p>
                 <form th:action="@{/reject-request/{id}(id=${request.id})}" method="POST">
                     <button type="submit">
                         Reject
                     </button>
                 </form>

                 <form th:action="@{/accept-request/{id}(id=${request.id})}" method="POST">
                     <button type="submit">
                         Accept
                     </button>
                 </form>
             </span>

        <span th:if="!${request.accepted} and ${request.isDoneRequest()}">
            <p>Rejected Request</p>
        </span>

        <span th:if="${request.accepted} and !${request.isDoneRequest()}">
            <form th:action="@{/done-request/{id}(id=${request.id})}" method="POST">
                <button type="submit">
                    Done
                </button>
            </form>
        </span>

        <span th:if="${request.accepted} and ${request.isDoneRequest()}">
            <p> Done Request</p>
        </span>

    </div>
</div>
</body>
</html>